<div id="container">

    <a href="https://space-search-aedd7.web.app/" target="_blank">
        <div class="item">
            <div class="title">Space Search</div>
            <div class="points">- ReactTS</div>
            <div class="points">- Firebase</div>
            <div class="points">- Multiple NASA APIs</div>
            <!-- <div class="links">
                <a href="https://space-search-aedd7.web.app/" target="_blank">
                    SpaceSearch
                    <img src="../../../assets/arrow-icon.png"></a>
            </div> -->
        </div>
    </a>


    <a href="https://jaxonknight28.github.io/Golf-Scorecard-App/" target="_blank">
        <div class="item">
            <div class="title">Golf Scorecard App</div>
            <div class="points">- HTML</div>
            <div class="points">- CSS</div>
            <div class="points">- JavaScript</div>
            <div class="points">- LocalStorage</div>
            <!-- <div class="links">
                <a href="https://jaxonknight28.github.io/Golf-Scorecard-App/" target="_blank">
                    Golf-Scorecard-App
                    <img src="../../../assets/arrow-icon.png"></a>
            </div> -->
        </div>
    </a>


    <a href="https://jaxonknight28.github.io/Todo-App/" target="_blank">
        <div class="item">
            <div class="title">Todo List</div>
            <div class="points">- HTML</div>
            <div class="points">- CSS</div>
            <div class="points">- JavaScript</div>
            <div class="points">- LocalStorage</div>
            <!-- <div class="links">
                <a href="https://jaxonknight28.github.io/Todo-App/" target="_blank">
                    Todo-App
                    <img src="../../../assets/arrow-icon.png"></a>
            </div> -->
        </div>
    </a>


    <a href="https://jaxonknight28.github.io/BIdding-App-With-Local-Storage/" target="_blank">
        <div class="item">
            <div class="title">Bidding App</div>
            <div class="points">- HTML</div>
            <div class="points">- CSS</div>
            <div class="points">- JavaScript</div>
            <div class="points">- LocalStorage</div>
            <!-- <div class="links">
                <a href="https://jaxonknight28.github.io/BIdding-App-With-Local-Storage/" target="_blank">
                    Bidding-App
                    <img src="../../../assets/arrow-icon.png"></a>
            </div> -->
        </div>
    </a>

    <a href="https://jaxonknight28.github.io/RY-Paris-Project/" target="_blank">
        <div class="item" href="">
            <div class="title">Website Mockup Design</div>
            <div class="points">- HTML</div>
            <div class="points">- CSS</div>
            <div class="links">
                <!-- <a href="https://jaxonknight28.github.io/RY-Paris-Project/" target="_blank">
                    RY-Paris-Project
                    <img src="../../../assets/arrow-icon.png"></a> -->
            </div>
        </div>
    </a>
</div>