<div id="container">

    <div class="item">
        <div class="title">Space Search</div>
        <div class="points">- ReactTS</div>
        <div class="points">- Firebase</div>
        <div class="points">- Multiple NASA APIs</div>

        <div class="links">
            <a href="https://github.com/JaxonKnight28/space-search" target="_blank">
                GitHub Repository
                <img src="../../../assets/GitHub-Mark-32px.png"></a>

            <a href="https://space-search-aedd7.web.app/" target="_blank">
                SpaceSearch
                <img src="../../../assets/arrow-icon.png"></a>
        </div>
    </div>

    <div class="item">
        <div class="title">Golf Scorecard App</div>
        <div class="points">- HTML</div>
        <div class="points">- CSS</div>
        <div class="points">- JavaScript</div>
        <div class="links">
            <a href="https://github.com/JaxonKnight28/Golf-Scorecard-App" target="_blank">
                GitHub Repository
                <img src="../../../assets/GitHub-Mark-32px.png"></a>

            <a href="https://jaxonknight28.github.io/Golf-Scorecard-App/" target="_blank">
                Golf-Scorecard-App
                <img src="../../../assets/arrow-icon.png"></a>

        </div>
    </div>

    <div class="item">
        <div class="title">Website Mockup Design</div>
        <div class="points">- HTML</div>
        <div class="points">- CSS</div>
        <div class="links">
            <a href="https://github.com/JaxonKnight28/RY-Paris-Project" target="_blank">
                GitHub Repository
                <img src="../../../assets/GitHub-Mark-32px.png"></a>

            <a href="https://jaxonknight28.github.io/RY-Paris-Project/" target="_blank">
                RY-Paris-Project
                <img src="../../../assets/arrow-icon.png"></a>
        </div>
    </div>

    <div class="item">
        <div class="title">Todo List</div>
        <div class="points">- HTML</div>
        <div class="points">- CSS</div>
        <div class="points">- JavaScript</div>
        <div class="links">
            <a href="https://github.com/JaxonKnight28/Todo-App" target="_blank">
                GitHub Repository
                <img src="../../../assets/GitHub-Mark-32px.png"></a>

            <a href="https://jaxonknight28.github.io/Todo-App/" target="_blank">
                Todo-App
                <img src="../../../assets/arrow-icon.png"></a>
        </div>
    </div>

    <div class="item">
        <div class="title">Bidding App</div>
        <div class="points">- HTML</div>
        <div class="points">- CSS</div>
        <div class="points">- JavaScript</div>
        <div class="links">
            <a href="https://github.com/JaxonKnight28/BIdding-App-With-Local-Storage" target="_blank">
                GitHub Repository
                <img src="../../../assets/GitHub-Mark-32px.png"></a>

            <a href="https://jaxonknight28.github.io/BIdding-App-With-Local-Storage/" target="_blank">
                Bidding-App
                <img src="../../../assets/arrow-icon.png"></a>
        </div>
    </div>

</div>