#container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    a {
    margin: 10px;
    color: black;
    text-decoration: none;
    font-family: Roboto;
    }
    .item:hover {
        background: #688aad;    
    }
    .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
        border-radius: 5px;
        background-color: #83AEDB; // #1C297A
        text-align: center;
        transition: all .5s;
        .title {
            font-size: 25px;
            font-family: Roboto;
            margin-bottom: 10px;
        }
        .points {
            font-family: Roboto;
        }
    }
 }    