.header {
    width: auto;
    //background-color: #2044E0;
    padding: 20px;
    display: flex;
    #title {
        text-align: center;
    }
    #logo
    {
        height: 100px;
    }
    .left {
        display: flex;
        align-items: center;
        flex-grow: 1;
        .text {
            font-family: Roboto;
            font-size: 50px;
            margin-left: 10px;
            color: #83AEDB;
        }
    }
}
